    * {
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-decoration: none;
    }
    
    html {
        font-size: 20px;
    }
    
    body {
        width: 100%;
        min-width: 1200px;
        max-width: 1920px;
        margin: 0 auto;
        font-family: 微软雅黑;
        font-weight: 550;
    }
    
    header {
        width: 100%;
        position: relative;
        margin: 0 auto;
        height: 600px;
        max-width: 1920px;
        overflow: hidden;
    }
    
    .header {
        width: 100%;
        /* 
        ackground-color: rgba(15, 33, 110, .8);  */
        background: url(../image/screen.png);
        position: absolute;
        overflow: hidden;
        z-index: 2;
    }
    
    .logo {
        height: 144px;
        width: 1200px;
    }
    
    .logo>div {
        float: left;
    }
    
    .logo1 {
        width: 700px;
        height: 144px;
        text-align: right;
        color: white;
        font-size: 30px;
        background: url(../image/logo_header.png) no-repeat -40px -20px;
        background-size: 700px;
    }
    /* 校徽 */
    
    .search {
        position: relative;
        width: 500px;
        height: 144px;
        overflow: hidden;
    }
    
    .search_t {
        height: 36px;
        margin: 36px 36px 9px 0px;
    }
    
    .search_t ul li {
        float: right;
        line-height: 36px;
        margin-left: 20px;
        font-size: 16px;
    }
    
    .search_t ul li a {
        font-weight: 300;
        color: white;
    }
    
    .form {
        position: absolute;
        right: 0;
        width: 250px;
        height: 25px;
        margin-right: 0rem;
        background-color: white;
        justify-content: start;
        margin-right: 2rem;
        padding: 4px 0px;
    }
    
    form {
        height: 25px;
    }
    
    .search_content {
        border: none;
        display: inline-block;
        outline: none;
        padding-left: 10px;
        height: 25px;
        width: 200px;
        vertical-align: top;
    }
    
    .search_sumbit {
        display: inline-block;
        width: 30px;
        height: 25px;
        background: url(../image/search.png) no-repeat 5px;
        background-size: 25px 25px;
        cursor: pointer;
    }
    /* 搜索栏 */
    
    .listcontent {
        overflow: hidden;
        width: 100%;
        height: 40px;
        margin: 0 auto;
        min-width: 1200px;
        transition: all .5s ease .1s;
    }
    
    .time_c {
        display: none;
    }
    
    .nav {
        width: 1200px;
        min-width: 1200px;
        height: 160px;
        margin: 0 auto;
    }
    
    .listBox {
        position: relative;
        width: 1200px;
        margin: 0 auto;
    }
    
    .list {
        width: 1175px;
        margin: 0 auto;
        height: 36px;
    }
    
    .list>ul>li {
        float: left;
    }
    
    .list>ul>li>a {
        padding: 0px 24px;
        line-height: 36px;
        font-size: 18px;
        font-weight: 700;
        display: block;
        color: white;
    }
    
    .aul {
        font-weight: 300;
        text-align: center;
        line-height: 26px;
        font-size: 16px;
        height: 180px;
        overflow: hidden;
    }
    
    .aul li a {
        color: white;
    }
    
    .aul li a:link {
        color: white;
    }
    
    .aul li a:hover {
        color: yellow;
    }
    
    .carousel {
        text-align: center;
        margin: 0 auto;
        position: relative;
        width: 1920px;
    }
    
    .carousel-ul {
        position: absolute;
        width: 400%;
    }
    
    .carousel-ul li {
        float: left;
        width: 1920px;
        text-align: center;
    }
    
    .carousel-ul li a {
        display: block;
        height: 600px;
    }
    
    .radius {
        position: absolute;
        bottom: 0;
        width: 1200px;
        left: 50%;
        margin-left: -600px;
        z-index: 2;
    }
    
    .radius>div {
        height: 40px;
        width: 100%;
    }
    
    .radius-ol {
        float: left;
        height: 40px;
        width: 60%;
    }
    
    .announcement {
        float: right;
        width: 40%;
        height: 40px;
        line-height: 40px;
        background: url(../image/button.jpg) no-repeat;
        background-size: cover;
        z-index: 2;
    }
    
    .announcement a {
        display: block;
        height: 40px;
        color: rgba(230, 230, 230, 1);
        font-size: 18px;
        font-weight: 700;
    }
    
    .White_right {
        padding-right: 25px;
        float: right;
        background: url(../image/More_black.png) no-repeat 40px 11px;
        background-size: 18px 18px;
    }
    
    .White_left {
        padding-left: 30px;
        float: left;
        background: url(../image/bookmark_blue.png) no-repeat 2px center;
        background-size: 30px 40px;
    }
    
    .blue_right {
        padding-right: 25px;
        float: right;
        background: url(../image/More_white.png) no-repeat 40px 11px;
        background-size: 18px 18px;
    }
    
    .blue_left {
        padding-left: 30px;
        float: left;
        background: url(../image/bookmark_white.png) no-repeat 2px center;
        background-size: 30px 40px;
    }
    
    .radius-ol li {
        float: left;
        text-align: center;
        display: block;
        padding: 10px 40px 10px;
        margin: 10px 10px 0px 0px;
        line-height: 40px;
        background: rgba(255, 255, 255, .9);
        transition: all .4s ease 0ms;
    }
    
    .radius .current {
        margin: 5px 10px 0px 0px;
        background-color: rgba(15, 33, 140, 1);
    }
    
    .hr {
        width: 100%;
        height: 5px;
        background-color: rgba(15, 33, 140, 1);
    }
    
    .hrbox {
        display: flex;
        margin: 0 auto;
        height: 5px;
        width: 1200px;
    }
    
    .hr1 {
        height: 5px;
        width: 720px;
        background-color: transparent;
    }
    
    .hr2 {
        height: 5px;
        width: 480px;
        background-color: white;
    }
    /* 顶部图片header */
    
    .clearList::after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    
    .clearlist {
        *zoom: 1;
    }
    
    article {
        background-color: rgba(240, 240, 240, 1);
        overflow: hidden;
    }
    
    .service {
        display: flex;
        width: 1200px;
        height: 300px;
        margin: 0 auto;
        justify-content: space-between;
        overflow: hidden;
    }
    
    .news {
        width: 60%;
        height: inherit;
        background-color: white;
    }
    
    .news_header {
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-bottom: 5px;
    }
    
    .news_header a {
        display: block;
        color: black;
        font-size: 18px;
    }
    
    .news_content {
        margin-top: 7px;
        height: 255px;
    }
    
    .content_size {
        display: block;
        line-height: 27px;
    }
    
    .content_size a {
        font-weight: 200;
        margin-left: 20px;
        width: 600px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        display: block;
        font-size: 16px;
        color: black;
    }
    
    .announcement1 {
        width: 40%;
        height: 288px;
        padding-top: 12px;
        background: url(../image/button.jpg) no-repeat;
        background-size: cover;
    }
    
    .announcementLi {
        line-height: 25px;
    }
    
    .announcementLi a {
        font-weight: 200;
        margin-left: 20px;
        width: 390px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        display: block;
        font-size: 16px;
        color: white;
    }
    
    .time_a {
        font-family: Tahoma;
        font-weight: 200;
        font-size: 16px;
        width: 70px;
        height: 25px;
        line-height: 25px;
        display: block;
        float: right;
        color: white;
        cursor: pointer;
    }
    
    .time_A {
        font-family: Tahoma;
        font-weight: 200;
        font-size: 16px;
        height: 25px;
        width: 70px;
        line-height: 25px;
        display: block;
        float: right;
        color: black;
        cursor: pointer;
    }
    
    .seaction {
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        margin: 20px auto 0px;
        height: 295px;
        justify-content: space-between;
        align-content: space-between;
    }
    
    .seaction1 {
        width: 40%;
        height: 295px;
        flex-direction: column;
        background-color: white;
    }
    
    .seaction2 {
        width: 58%;
        height: 295px;
        background-color: white;
    }
    
    .seaction2>div {
        overflow: hidden;
    }
    
    .seaction_header1 {
        height: 40px;
        width: 100%;
        color: white;
        line-height: 40px;
    }
    
    .seaction_header2 {
        line-height: 40px;
        height: 40px;
        width: 100%;
    }
    
    .seaction_content2 {
        line-height: 27px;
        margin-top: 5px;
    }
    
    .seaction_content2Li a {
        font-weight: 200;
        margin-left: 20px;
        display: block;
        width: 600px;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
        display: block;
        font-size: 16px;
    }
    
    .seaction_header1 a {
        color: black;
        display: block;
        height: 40px;
        font-size: 18px;
        font-weight: 700;
    }
    
    .seaction_header2 a {
        color: black;
        display: block;
        height: 40px;
        font-size: 18px;
        font-weight: 700;
    }
    
    .seaction_content1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 255px;
        width: 100%;
    }
    
    .seaction_content1>div {
        height: 105px;
        width: 140px;
        margin-right: 15px;
        font-size: 18px;
        font-weight: 300;
        background-image: linear-gradient(to right, rgba(48, 120, 162), rgba(49, 172, 190));
        transition: all .3s ease 0s;
    }
    
    .seaction_content1 .seaction_content1_hover {
        margin-top: -10px;
        background: linear-gradient(to right, rgba(240, 135, 85), rgba(216, 34, 111));
    }
    
    .seaction_content1 .seaction_content1_hover a {
        padding-bottom: 10px;
    }
    
    .seaction_content1>div>a {
        height: 105px;
        width: 140px;
        line-height: 170px;
        text-align: center;
        display: block;
        color: white;
    }
    
    .seaction_content1>div:nth-child(-n+3) {
        margin-bottom: 15px;
    }
    
    .seaction_content1>div:first-child {
        margin-left: 15px;
    }
    
    .seaction_content1>div:nth-child(4) {
        margin-left: 15px;
    }
    
    .seaction_content1>div:first-child a {
        background: url(../image/k1.png) no-repeat center 10px;
    }
    
    .seaction_content1>div:nth-child(2) a {
        background: url(../image/k2.png) no-repeat center 10px;
    }
    
    .seaction_content1>div:nth-child(3) a {
        background: url(../image/k3.png) no-repeat center 10px;
    }
    
    .seaction_content1>div:nth-child(4) a {
        background: url(../image/k4.png) no-repeat 44px 10px;
    }
    
    .seaction_content1>div:nth-child(5) a {
        background: url(../image/k5.png) no-repeat center 10px;
    }
    
    .seaction_content1>div:nth-child(6) a {
        background: url(../image/k6.png) no-repeat center 10px;
    }
    
    section {
        width: 100%;
        background-color: rgba(240, 240, 240, 1);
        max-width: 1920px;
        min-width: 1200px;
        height: 240px;
        padding-top: 20px;
    }
    
    section>div {
        width: 1200px;
        margin: 0 auto;
        height: 240px;
    }
    
    .section2 {
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .section2m1 a {
        vertical-align: top;
        color: black;
        height: 40px;
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
    }
    
    .section2>div:first-child {
        display: flex;
        width: 68%;
        height: inherit;
        background-color: white;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .section2m {
        display: flex;
        width: 47%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .section2m div {
        flex: 1;
        background: linear-gradient(to right, rgba(240, 135, 85), rgba(216, 34, 111));
    }
    
    .section2m div>a {
        margin: 0 auto;
        width: 200px;
        padding: 0px 0px 0px 5px;
        overflow: hidden;
        color: white;
        line-height: 25px;
        font-weight: 400;
        font-size: 18px;
        display: block;
    }
    
    .section2m div>a:first-child {
        font-size: 17px;
        height: 50px;
        border-bottom: 2px white solid;
    }
    
    .section2m div>a:last-child {
        height: 110px;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
    }
    
    .s1::before {
        background: url(../image/feng1.jpg) no-repeat center;
    }
    
    .s2::before {
        background: url(../image/feng2.jpg) no-repeat center;
    }
    
    .s2 {
        margin-left: -15px;
    }
    
    .section2m::before {
        display: block;
        content: '';
        width: 160px;
        height: 160px;
        background-size: cover;
        cursor: pointer;
    }
    
    .section2m div {
        height: 160px;
    }
    
    .section2m1 {
        height: 40px;
        width: 100%;
    }
    
    .section2>div:last-child {
        width: 30%;
        height: 240px;
        background-color: white;
    }
    
    .section2 div .section2header {
        display: block;
        float: right;
        width: 100%;
        background-color: white;
        height: 40px;
    }
    
    .section2 div .section2header a {
        color: black;
        font-size: 18px;
        line-height: 40px;
    }
    
    .section2 div .section2content {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
    }
    
    .section2 div .section2content div {
        width: 40%;
        height: 20%;
        text-align: center;
        line-height: 40px;
        background-image: linear-gradient(to right, rgba(48, 120, 162), rgba(49, 172, 190));
    }
    
    .section2 div .section2content div a {
        display: block;
        height: 40px;
        font-size: 16px;
        color: white;
    }
    
    footer {
        width: 100%;
        max-width: 1920px;
        min-width: 1200px;
        background: rgba(42, 85, 139);
        height: 190px;
    }
    
    footer>div:first-child {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1200px;
        height: 180px;
        margin: 0 auto;
    }
    
    footer>div:last-child {
        display: flex;
        justify-content: center;
    }
    
    footer>div:last-child a {
        line-height: 30px;
        margin-right: 40px;
        color: white;
        display: block;
        font-size: 14px;
        text-align: center;
        font-weight: 200;
    }
    
    .footer_son {
        margin-top: 20px;
        flex: 18%;
        height: 160px;
    }
    
    .footer_son:first-child {
        flex: 14%;
    }
    
    .footer_son:nth-child(4) a {
        border-right: 1px solid white;
    }
    
    .footer_son:last-child {
        flex: 32%;
    }
    
    .footer_son a {
        display: block;
        text-align: center;
        font-weight: 200;
        line-height: 30px;
    }
    
    .footer_son a:link {
        color: white;
    }
    
    .footer_son1 a {
        padding: 0px 20px;
        color: white;
        text-align: center;
        line-height: 30px;
        display: block;
        font-size: 14px;
        font-weight: 200;
        cursor: default;
    }
    
    footer div .footer_son a:hover {
        color: yellow;
    }
    
    .footer_son>a:first-child {
        font-size: 18px;
        color: white;
    }
    
    .footer_son>a:nth-child(n+2) {
        font-size: 14px;
        color: white;
    }
    
    .footer_son:first-child {
        background: url(../image/logo_bottom.png) no-repeat center center;
        background-size: 120px;
    }